
<div id="home-container">
	<div class="center">
	<%= image_tag "Radio-Los-Santos-V.png",alt: "Logo"%>


		<div class="enterbutton">	
		  <%= link_to(image_tag("enter_button.png", size:"140x140"), rls_path ) %>
		</div>
	</div>

	
</div>