<div id="container">
    <%= render 'layouts/header' %>

    <h2>Programs</h2>

    <ul>
    	<li><b>RLS News</b>: Hosted by Lianne Forget with Richard Burns, which features the up-to-date news in the
    	State of Los Santos, often reporting incidents that happen in there lives. Deliberatly voicing their opinions
    	of how essential fast food restaurants are in our current society.
    	</li>
    	<li><b>The Tight End Zone</b>: Sports program hosted by Derrick Thackery. Thackery does not actually care as much about the sports he loves than the passions aroused from them.
    	</li>
    	<li><b>The Wild Traveler</b>: Travel program hosted by James Pedeaston. Pedeaston is a child molester wanted in Malaysia and is currently being investigated by the FBI. He enjoys traveling the world and logging some of his most 'exotic' encounters in his travelogue, some of which he accidentally reads on-air to the (unintentional) disgust of listeners. His show appears to be so reviled by his listeners that at one point, he receives no calls at all.
    	</li>
    	<li><b>Gardening with Maurice</b>: Gardening show hosted by Maurice. Maurice has a rather horny personality; he not only loves his gardens, but his own body as well. For example, he likes to take pictures of both when they are "blossoming." He also offers unorthodox advice and unusual plant suggestions to callers.
    	</li>
    	<li><b>I Say/You Say</b>: Political debate show hosted by husband-and-wife liberal-and-conservative team of Peyton Phillips and Mary Phillips. Peyton and Mary are caricatures of their ideologies; Peyton having communist inclinations while Mary plays 'greedy capitalist'. For example, when dealing with a caller that had recently buried the corpses of numerous illegal immigrants in his backyard, Mary advises the caller on how to use the corpses to evade his taxes while Peyton mentions recycling and organ donation.
    	</li>
    	<li><b>Area 53</b>: A Coast to Coast AM spoof hosted by Marvin Trill. The show is dedicated to conspiracy theories and UFO sightings. Early shows featured Adam First, he says while hang-gliding in Bone County, he saw a man in a trailer compound preforming strange rituals with Domestabots.
    	</li>
    </ul>

      <%= render 'layouts/footer'%>

</div>