<div id="container">

    <%= render 'layouts/header' %>


    <p id="home-p"></p>

    <table class="infobox" cellspacing="5">
	<tbody>
		<tr>
			<th colspan="2" class="check"><small>Radio Website</small><br>
				<span class="fn"></span>
			</th>
		</tr>

	</tbody>
</table>


      <%= render 'layouts/footer'%>

</div>