@import "bootstrap";

html, body {
	background-color: white;
		background-image: url('7.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	margin: 0px;
	p{font-family:"Trebuchet MS", Helvetica, sans-serif} 
}

#home-container{
	position: fixed; 
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	display: block;
	margin: auto;
}

#container{
	height: auto;
	background-color: white	;
	top: 0px;
	bottom: 0px;
	width:60%;
	display: block;
	margin: auto;
	box-shadow: 0px 0px 20px 10px #222;	
}

.center {
	text-align: center;
	padding-top: 25px;
}

img {


}


.radio_website_header {
	img{
		height:275px;
		width: 100%;
	}
}

h1{
	text-align: center;
}

a {
	color:black;
}

a:hover{
	text-decoration: none;
	color:black;
}


#home-p{
	margin-left: 15px;
	display: inline-block;
	float: left;
	width: 65%;
}

.infobox{
	width:22em;
 	font-size:90%; 
 	text-align:left; 
 	border-color:black;
 	box-shadow:  0px 0px 0px 2px black;
 	margin-right: 10px;
 	background-color: #EEE;
 	display: inline-block;
 	float: right;
}

.check{
	text-align:center;
	 font-size:125%; 
	 font-weight:bold;
}

.fn{
	font-size:18px;
}

.sn{
	text-align: center;
}

h2{
	
}

iframe {
	display: inline-block;
	margin-left: 2.5%;
}

#footer {
  color: black;
  padding-left: 10px;
}

.new-button {
	margin-top: 50px;
	margin-left: 50px;
	-webkit-appearance: square-button;
	cursor: pointer;
	width: 100px;
	padding: 2px 6px;
	text-align: center;
}

.btn-success{
	margin-left: 20px;
	margin-bottom: 20px;
}

.back-button {
	margin-left: 15px;
	-webkit-appearance: button;
	cursor: pointer;
	width: 50px;
	text-align: center;
}

#search{
	width: 300px;
}

.submit-button{
	margin-bottom: 10px;
}