/* Layout Styling */
body {
	width:auto;
	margin: 0; /*default rails padding around boarder*/
	height:996px;
	position: relative;
}


/* Header Styling */
.header {
	height: 99px;
	background: #000000;
	text-align: center;
	color:white;
	padding-top: 40px;
	padding-bottom: 40px;
	font-weight: bold;
	font-size: 35px;
}


/* Navigation Styling */

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
    height: 50px;
}

#nav_bar {
	text-align: center;
	background: #3B3835;
	color:white;
    height: 50px;
}

.nav-link {
	display:inline-block;
	text-decoration:none;
	margin-right: 15px;
	color:white;

	&:hover {
		background:#ccc;
		color:black;
	}


}


/* Content Styling */
.content {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding-bottom: auto;
	//margin-top: 200px;
	position: relative;
	background: #3B3835;
	color:white;
	background-image: url('7.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	h1 {
		margin-top: 0;
		color:white;
	}

}

.content-link {
	color:white;

	&:hover {
		background:#ccc;
		color:black;
	}
}

.content-withoutHeader{
	height: 797px;
}


.container {
	width:100%;
	height:100%;
	/*margin: auto 0 auto; specify all four arguments at once*/
	/*//margin: 0 auto;*/ /*specify top and bottom and then right and left - allows to center the container*/
}

.content-container{
	height:50%;
	width:65%;
	/*//margin:100 auto 100 auto; // specify all four arguments at once*/
	margin: 20% 20% ; /*specify top and bottom and then right and left - allows to center the container*/
	background: #3B3835;
	position:absolute;
}

/* Footer Styling */
#footer {
	background: black;
	overflow: hidden;
	clear:both;
	background-position: absolute;
	text-align: right;
	bottom: 0;
    width: 100%;
    color:white;
    height: 150px;

}
.footer-container {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;

}
